::selection {
  background-color: $red!important;
  color: #fff;
  cursor: text;
}
body {
	background-attachment: fixed;
	background-image: url("../../images/bg.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Harabara';

	&::-webkit-scrollbar {
    width: 8px;
	}
	&::-webkit-scrollbar-thumb {
	  background-color: #c1c1c1;
	}
	&::-webkit-scrollbar-track {
	  background-color: #eeeeee;
	}
}

b, strong, h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-family: 'Harabara Bold';
}

h1 {
	font-family: 'Harabara Black';
	&.title-one {
		text-align: center;
		position: relative;
		padding: 120px 0 60px 0;
		text-transform: uppercase;
		&:before {
			content: '';
	    width: 60px;
	    height: 4px;
	    background: $red;
	    position: absolute;
	    bottom: 16%;
	    left: 50%;
	    margin-left: -20px;
		}
	}
}

@media (min-width: 1200px) {
	.container {
	  max-width: 1024px;
	}
}

ul {
	margin:0;
	padding:0 0 0 15px;
}

.fx {
	background-color: rgba(255,20,30,0.2);
	background-image: url("../../images/mask.png");
	padding: 180px 0;
	.container {
	  background: url("../../images/icon-quote.png") no-repeat top left;
	  padding:40px 0 0 80px;
	  h1 {
	  	font-family: 'Harabara Black';
	  }
	}
}

.section-content {
	min-height: 360px;
	padding: 0 0 120px 0;
	&#sct-1{

	}
	&#sct-2{
		padding: 0;
		background-image: url("../../images/mask.png");
		.catalog {
		  display: flex;
		  flex-wrap: nowrap;
		  overflow-x: auto;
		  // cursor: move;
		  // cursor:grab;
			&::-webkit-scrollbar {
			  height: 10px;
			}
			&::-webkit-scrollbar-thumb {
			    background-color: rgb(255,20,30);
			}
			.catalog-item {
			  display: block;
			  flex: 0 0 auto;
			  width: 25%;
			  transition: 0.2s;
			  cursor: pointer;
			  text-align:center;
			  &:nth-child(even) {
			  	background: #cccccc;
			  }
    		&:nth-child(odd) {
    			background: #dddddd;
    		}
    		.catalog-item-content {
			  	min-height:300px;
			  	padding: 20px;
			  	div {
			  		width: 100%;
		    		svg {
		    			width:120px;
		    			height: 120px;
		    			//margin-bottom:25px;
		    			.st0{fill: #333;}
		    			.st1{font-family: 'Harabara Bold';}
		    			.st2{font-size:180px;}
		    		}
			  	}
    		}
    		&:hover {
    			background: $red;
    			color: $white;
	    		.catalog-item-content {
				  	div {
			    		svg {
			    			.st0{fill: #fff;}
			    		}
				  	}
	    		}
    		}
			}
		}

	}
	&#sct-3{
		img {
			margin-bottom: 25px;		
		}
		.preco {
			color: $white;
			padding:5px 10px;
			font-size: 18px;
			&.bg-red {
				background: $red;
			}
			&.bg-yellow {
				background: $yellow;
			}
		}
	}
}


// responsive

@media (min-width: 1366.98px) {
	
}

@media (max-width: 1366px) {
	
}

@media (max-width: 1280px) {
	
}

@media (max-width: 1024px) {
	
}

@media (max-width: 768px) {
	
}