.navbar-wrap {
	background: $white;
	.contato-topo {
		ul {
			list-style: none;
			margin:0;
			padding:0;
			display:block;
			padding: 18px 0;
			li {
				display: inline;
				margin-left: 20px;
				padding: 4px 0 4px 30px;
				&.phone {
					background: url("../../images/icon-phone.png") no-repeat left center;
				}
				&.mail {
					background: url("../../images/icon-mail.png") no-repeat left center;
				}
			}
		}
	}
	.navbar {
		background: $red;
		padding: 0;
		.brand {
			@media (min-width: 768px) {
				position:absolute;
				z-index: 1;
			}
			img {
				max-width: 140px;
			}
		}
		.navbar-nav {
			.nav-item {
				.nav-link {
					padding: 1em 1rem;
			    color: $white;
			    transition: 0.2s;
			    &:hover {
			    	background: rgba(0,0,0,0.2);
			    }
					&.contato {
			    	background: rgba(0,0,0,0.2);
					}
				}
			}
		}
	}
}